{% extends "base.html" %}

{% block title %}Acesso ao Curso{% endblock %}
{% block body_class %}dark-theme{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
    <h1 class="mb-4 text-center">{{ enrollment.course.title }}</h1>
    {% if enrollment.course.access_url %}
        <div class="text-center">
            <a href="{{ enrollment.course.access_url }}" class="btn btn-primary" target="_blank">Acessar Conteúdo</a>
        </div>
    {% else %}
        <p class="text-center text-light">Nenhum link de acesso disponível.</p>
    {% endif %}
</div>
{% endblock %}
