{% extends "base.html" %}
{% block title %}Compra Concluída{% endblock %}
{% block body_class %}dark-theme{% endblock %}
{% block content %}
<div class="container py-5 mt-5 text-center">
    <h1 class="mb-4">Pagamento realizado com sucesso!</h1>
    {% if purchase.course.access_url %}
        <a href="{{ purchase.course.access_url }}" class="btn btn-primary" target="_blank">Acessar Conteúdo</a>
    {% else %}
        <p class="text-light">Nenhum link de acesso disponível.</p>
    {% endif %}
</div>
{% endblock %}
